@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .header_top__icon_wrapper {
    @apply bg-gray-200 rounded-md p-[6px] text-[14px] cursor-pointer hover:bg-accent hover:text-white;
  }
}

.navbar-link:hover {
  color: #ff8f9c;
  transition: all 0.4s;
}

.navbar-link::after {
  position: absolute;
  content: "";
  background-color: #ff8f9c;
  height: 3px;
  width: 100%;
  bottom: -5px;
  left: 0;
  scale: 0;
  transform-origin: left;
  transition: all 0.4s;
}

.navbar-link:hover::after {
  scale: 1;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: black;
  background: #ffcecf;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
